.cardd{
    position: relative;
}

.water-container {
    position: absolute;
    top: 100px;
    right: 0;
  }

.water-container2 {
  position: absolute;
    bottom: 0px;
    right: 0;
  }
  
  .water-image {
    width: 200px; /* Adjust as needed */
  }
  
.card-container {
    max-width: 80%; /* Ensure the container is the positioning context */  
  }

.swiper-wrapper{
    align-items: center;
}

.radius{
    border-radius: 2rem;
    border: 1px rgb(236, 236, 236) solid;
    color: #000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.card-content{
    gap: 1rem;
    text-align: start;
}


.flex-rating{
    display: flex;
    width: 40%;
    height: 100%;
    align-content: center;
    justify-content: center;
}

.relative-position {
    position: relative;
  }
  
  .corner-image-container {
    position: absolute;
    top: 20px; /* Adjust top position as needed */
    left: 15px; /* Adjust left position as needed */
  }
 
  
 
.hover{
    transition: .2s;
}


.hover:hover{
    transform: scale(1.04);
}

.hover img {
    transition: 0.3s;/* Adjust the degree of rotation as needed */
}

.hover img:hover {
    transform: scale(1.1) rotate(4deg); /* Adjust the degree of rotation as needed */
}

  @media screen and (max-width: 1650px){
    .card-container {
      
        max-width: 100%; /* Ensure the container is the positioning context */  
      }
    
    
}

@media screen and (max-width: 1650px){
    .scale{
        transform: scale(1);
      }
    
    
}
