.social-container{
    position: relative;
    gap: 1rem;
}

.social-content{
    justify-content: center;
    padding: 1rem;
}

.img {
    position: relative;
    
}

.img .button-outline {
    display: none;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    
    background-color: #ffffff;
    border: 1px solid #000000;
    color: #000000;
    cursor: pointer;
}

.img{
    transition: 0.4s;
}

.img:hover .button-outline {
    display: block;
}

.img:hover{
    opacity: 0.6;
}

@media screen and (max-width: 1310px){
    .social-content{
        flex-direction: column; 
        padding: 1rem;   
    }
    
}
@media screen and (max-width: 700px){
    .section_title{
        text-align: center;
    }
}
@media screen and (max-width: 650px){
    .social-container{
        flex-direction: column;
    }
    .social-button{
        display: none;
    }
}






