.comment-sections{
  position: relative;  
}

.water-container5 {
  position: absolute;
    top: -20px;
    right: 0;
}

.water-container6 {
  position: absolute;
    top: -200px;
    right: 200px;
}
  
.water7 img {
  width: 100px;
}
.comment-container {
    position: relative;
    width: 70%;
    margin-bottom: 90px; /* Add margin to create space for comments */
}

.comment {
    position: absolute; /* Change to relative positioning */
    bottom: -10%; /* Remove the bottom positioning */
    background-color: white;
    width: 85%;
    align-self: center;
    border-radius: 1rem;
    margin-top: 20px;
    box-shadow: 0px 12px 10px rgba(0, 0, 0, 0.2); 
     /* Adjust margin as needed */
}




 
  
  

