
.comment-container {
    position: relative;
    width: 70%;
    margin-bottom: 90px; /* Add margin to create space for comments */
}

.comment {
    position: absolute; /* Change to relative positioning */
    bottom: -10%; /* Remove the bottom positioning */
    background-color: white;
    width: 85%;
    align-self: center;
    border-radius: 1rem;
    margin-top: 20px; /* Adjust margin as needed */
}


.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

