.product-image{
    position: relative;
    width: 100%;
}


.champion-product img{
    width: 1200px;
}

@media screen and (max-width:1150px){
    .product-champ{
        display: none;
    }
    
}
