@font-face {
    font-family: myfontsemi;
    src: url(../../../../RecklessBold.ttf);
    
  }
  
.title-home{
    font-family: myfontsemi;
    font-size: var(--big-font-size);
}
.home-section {
    position: relative;
    background: rgb(72, 135, 187);
    background: linear-gradient(180deg, rgba(141,204,255,1) 0%, rgba(255,255,255,1) 100%);
    transition: background 0.7s ease-in-out; /* Updated to transition the entire background property */
}

img.image-transition {
    width: 542px;
}

.home-section.clicked {
    transition-delay: 1s; /* Changed the transition delay to 1 second */
}

.card.clicked {
    background-color: red;
}

.water-container3 {
    position: absolute;
    bottom: 0px;
    right: 120px;
}

.home-container {
    display: flex;
    align-items: center;
    
    justify-content: center;
    padding: 3rem;
}


  
.button {
    background-color: #01390C;
    padding: 1rem 3rem 1rem 3rem;
    border-radius: 3rem;
    color: white;
}

.description {
    margin-bottom: 4rem;
    color: #000;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text-center {
    text-align: center;
}

.title_green {
    color: #01390C;
    margin-bottom: 1rem;
}

.price {
    margin-bottom: 1rem;
}

.home_image {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.products {
    display: flex;
    gap: 3rem;
    align-items: center;
}

.button-outline {
    border: 2px solid black;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 3rem;
    background-color: transparent;
}

.size img {
    transition: 0.3s; /* Adjust the degree of rotation as needed */
}

.size img:hover {
    transform: scale(1.1) rotate(-8deg); /* Adjust the degree of rotation as needed */
}

.image-home img {
    transition: 0.3s;
}

.image-home img:hover {
    transform: scale(1.1) rotate(5deg); /* Adjust the degree of rotation as needed */
}

.arrow {
    transition: 0.3s;
}

.arrow:hover {
    transform: scale(1.2);
}

.home-intro{
    transform: scale(1.2);
}


.green-blurred-div-home {
    position: absolute;
    bottom: -120px;
    left: -96px;
    width: 40%;
    height: 35%;
    background-color: #D6FFDD; 
    filter: blur(85px);
    z-index: 999;
  }
  
  .index{
    z-index: 999;
  }
  
  .green-blurred-div-right-home {
    position: absolute;
    bottom: -120px;
    right: -96px;
    width: 38%;
    height: 41%;
    background-color: #D6FFDD; /* Green with 50% opacity */
    filter: blur(85px); /* Increased blur radius */
    z-index: 999; /* Ensure it's behind other content */
  }

@media screen and (max-width: 1600px) {
    .products {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .home-container {
        flex-direction: column-reverse;
        gap: 5rem;
    }

    .home {
        display: flex;
    }

    .home_intro {
        text-align: center;
    }

    .container {
        grid-template-columns: repeat(1, 1fr);
    }

    .products {
        display: none;
    }

    .water {
        display: none;
    }

    .card {
        display: none;
    }
}
