.box-title{
    flex-direction: column;
    align-items: start;   
    justify-content: center;
    background-color: #89F09C;
    height: 100%;
    width: 100%;
    padding: 4rem;
    gap: 5rem;
    border-radius: 16rem 1rem 1rem 1rem;
}

.adjust{
    grid-template-columns: 60% auto;
    gap: 1rem;
}

.title-testimonial{
    color: #01390C;
    font-size: var(--big-font-size);  
}

.align-items{
    align-content: center;
}

.grid-3{
    grid-template-columns: repeat(3, 1fr);     
}

.box{
    height: 100%;
    width: 100%;
    gap: 1.5rem;
    text-align: center;
   
}

.flex-rate-center{
    display: flex;
    gap: 10px;
    color: black;
    margin-bottom: 1rem;
 
}

.button-white{
    background-color: white;
    padding: 1rem 4rem 1rem 4rem;
    border-radius: 3rem;
    color: #01390C;
    border: 0;
    transition: 0.2s;
}

.button-white:hover{
    transform: scale(1.05);
}

.rate-img{
    width: 30%;
    height: 90%;
}

.testimonial-padding{
    padding: 2rem;
    background: white;
   }

@media screen and (max-width: 1310px){
    .adjust{
        grid-template-columns: repeat(1, 100%); 
        gap: 1rem; 
        justify-content: center;  
        padding: 0.4rem;  
    }
    
    .box-title{
        align-items: center;   
        border-radius: 8rem 1rem 1rem 1rem;
        text-align: center;
    }

    .grid-3{
        justify-content: center; 
        align-content: center;       
    }

   

}

@media screen and (max-width: 620px){

    .testimonial-padding{
        padding: 0rem;
       }
        

}